header p {
    display: block;
}

#banner {
    display: none;
}

nav {
    position: fixed;
    top: unset;
    width: 300px;
    max-height: calc(100vh - 200px);
    margin-left: -640px;
    overflow-y: auto;
}

nav ul {
    padding-right: 20px;
}

footer {
    width: 100%;
    text-align: center;
    position: unset;
    margin-left: 0;
}

code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .3);
}

::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .1);
}

li.active a {
    color: #ff0000;
}

.tag-h1 a {
    font-size: 18px;
    font-weight: bolder;
}

.tag-h2 a {
    font-size: 16px;
    font-weight: bold;
}

.tag-h3 a {
    font-size: 14px;
}

menu, ul, ol {
    padding-left: 10px;
}

p#beian a {
    color: #666;
}
