header p {
    display: block;
}

#banner {
    display: none;
}

nav {
    position: fixed;
    top: unset;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

nav ul {
    padding-right: 20px;
}

footer {
    width: 100%;
    position: unset;
    margin-left: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .3);
}

::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .1);
}

li.active {
    color: #ff0000;
}