header p {
    display: block;
}

#banner {
    display: none;
}

section {
    width: 650px;
    max-width: 650px;
}

nav {
    height: 75%;
    overflow: scroll;
}

footer {
    width: 110%;
    position: unset;
    margin-left: 0;
}
