header p {
    display: block;
}

#banner {
    display: none;
}

section {
    width: 780px;
    max-width: 780px;
}

nav {
    height: 75%;
    overflow: scroll;
}

footer {
    width: auto;
    position: autoß;
}